[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bundle/marked"]
	path = bundle/marked
	url = https://github.com/itspriddle/vim-marked.git
