[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/Rios-Jaime/Vundle.vim.git
[submodule ".vim/bundle/bundle/Vundle.vim"]
	path = .vim/bundle/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
